.body {
    /* color: white; */
}
.reportview-container .main .block-container{
  max-width: 1000px;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.slogan {
  font-style: bold;
  text-align: center;
}

p a{
  color: #fff !important;
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
  background-color: #48752E;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}
